body {
    margin: 0;
}

.clear {
    width: 100%;
    height: 800px;
    background: #000;
}

.orange {
    width: 100%;
    height: 150px;
    background: orange;
}

.orange2 {
    width: 100%;
    height: 150px;
    background: orange;
    position: relative;
    bottom: 0;
    float: left;
}


.red {
    width: 25%;
    height: 500px;
    background: red;
    float: left;
}

.green {
    width: 25%;
    height: 500px;
    background: green;
    float: left;
}

.blue {
    width: 25%;
    height: 500px;
    background: rgb(61, 133, 240);
    float: left;
}

.black {
    background: #000;
}