* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html, body {
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
    font-size: 100%;
    vertical-align: baseline;
}

/* .main-header {
    height: 160px;
} */

.header-top {
    height: 87px;
    background: #7e0019;
    display: flex;
    align-items: center;

}

.nav {
    background: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
}

.top  {
    height: 33px;
    font-size: 11px;
    padding: 10px 400px 8px 400px;

}

.bottom {
    height: 38px;
    font-size: 14px;
    padding: 10px 300px 8px 300px;
}


ul {
    display:flex;
    justify-content: space-evenly;
}

li {
    display: block;
}

a {
    display: block;
    color: white;
    cursor: pointer;
}

li a {
    color: #1A1A1A; 
}


li a:hover {
    opacity: 70%; 
}

.active {
    color: #900022;
}

.layout_main {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.all_sections {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
}

.all_sections a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item_menu {
    width: 30px;
    height: 7px;
    display: block;
    background-color: white;
    border: 50%;
    border: 2px solid #7e0019;
}

.block {
    display: block;
}

.flex-row {
    display: flex;
    justify-content: space-around;
}

.wrap {
    width: 100%;
    height: 100%;
    align-items: center;
}

.logo_items {
    width: 308px;
    height: 60px;
    color: white;
    display: flex;
    text-transform: uppercase;
    flex-direction: column;
}

.logo_items span {
    text-align: center;
}

/* .logo_brand {
    line-height: 50px;
    font-size: 2.5em;
    font-weight: 600;
    font-stretch: extra-condensed;
} */

.logo_info {
    font-size: 11px;
}

.top_options {
    width: 200px;
    height: 50px;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
}

.top_options a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.top_options span {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}

.options_text_active {
    opacity: 50%;
}

.club_style {
    width: 100px;
    height: 36px;
    line-height: 30px;
    border: #fff 3px solid;
    border-radius: 20px;
    background-color: #b30c1d;
}

.club_style:hover {
    opacity: 70%;
}

/* COVID INFO */

.covid-link {
    display: block;
    color: #1A1A1A;
}

.covid-link:hover {
    color: #900022;
}

.cov_title {
    font-size: 18px;
    line-height: 1.1em;
    text-transform: uppercase;
    font-weight: normal;
    color: #900022;
    margin-top: 25px;
}

.cov_stat {
    width: calc(100% + 10px);
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 0 0 0 0;
    margin: 0 -5px;
}

.stat_item {
    margin-left: -1px;
    width: calc(100% / 4);
    position: relative;
    padding: 5px 5px;
    box-sizing: border-box;
}

.item_wrap {
    border: #e3e3e3 1px solid;
    padding: 13px 12px;
    position: relative;
}

.item_description {
    font-size: 11px;
    text-transform: uppercase;
    color: #1a1a1a;
    display: block;
}

.item_num {
    width: 50%;
    font-weight: bold;
    font-size: 36px;
    line-height: 0.9em;
    white-space: nowrap;
}

.chart {
    color: #900022;
    position: absolute;
    left: 50%;
    top: 24px;
    display: inline-block;
    font-size: 16px;
    line-height: 1.1em;
}

.item_change {
    color: #900022;
    position: relative;
    left: -6px;
    display: inline-block;
    font-size: 16px;
    line-height: 1.1em;
}

.cov_info {
    font-size: 13px;
    color: #111;
    padding-top: 5px;
}

.cov_more {
    font-size: 12px;
    color: #900022;
    padding-top: 5px;
    text-transform: uppercase;
}

.cov_more_span {
    font-size: 19px;
    position: relative;
    top: 4px;
}

/* ARTICLE */

.article {
    margin-top: 12px;
}

.article_body {
    position: relative;
    display: block;
}

.article_content_wrapper {
    width: 100%;
    background: #3b3b3e;
}

.article_content {
    max-width: 1287px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 30px 20px 30px 20px;
}

.article_content_main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.qrticle_media_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.article_header {
    font-size: 46px;
    padding: 5px 0 10px 0;
    line-height: 1em;
    text-align: justify;
}

.article_header a:hover {
    opacity: 70%;
}

.article_subheader {
    font-size: 14px;
    color: #fff;
    line-height: 1.2em;
}

/* ARTICLE FOOTER */

.article_footer {
    position: relative;
    z-index: 2;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, .2);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}

.article_footer_header {
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid rgba(255, 255, 255, .2);
    font-size: 18px;
    font-weight: 800;
    padding: 4px 0 3px 18px;
    position: relative;
}

.article_footer_header::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: #900022;
    /* border-radius: 50%; */
    position: absolute;
    left: 0;
    top: 8px;
}

.content_none {
    border-right: 0;
}

.article_footer_header a:hover {
    opacity: 70%;
}

/* MAIN_CONTENT */
/* MAIN_TOP_CONTENT */

.sub_top_content {
    margin: 1% auto;
}

.news_item_left,.news_item_right {
    flex-wrap: wrap; 
}


.inline a{
    display: block;
    align-items: center;
    margin: 20px 0;
    text-decoration: none;
    font-size: 16px;
}

.news_card {
    width: 324px;
    height: 233px;
    padding: 0 5px;
}
.news_card h3 {
    padding: 0 15px;
    margin: 0 auto;
}
.news_card:hover {
    color: #7e0019;
}
.news_card img{
    width: 300px;
    height: 204px;
    padding-top: 45px;
}
.img-title {
    border-bottom:1px solid #bcbbbc;
    line-height: 20px;
    padding: 2% 0;
}

.img-title {
    color: #1A1A1A ;
}

.img-title:hover {
    color: #7e0019 ;
}

.news_card_aside img {
    width: 624px;
    height: 500px;
    margin-left: 5px;

}
.news_link {
    text-align: left;
    top: 48%;
    font-size: 12px;
    color: #7e0019;
    text-transform: uppercase;
}

.news_link:hover {
    opacity: 70%;
}

